<div id="beers-container">

    {{#each this.beers}}

    <a href="/random-beer/{{this.id}}" id="beer-list-link">

        <img src="{{this.image_url}}" alt="" height="200px">

        <h3 id="beer-name">{{this.name}}</h3>

        <p id="beer-tagline">{{this.tagline}}</p>

        <p id="beer-description">{{this.description}}</p>

    </a>

    {{/each}}

</div>