<div>
    <ul>
        {{#each this.beers}}
        <a href="/random-beer/{{this.id}}"><img src="{{this.image_url}}" alt="" height="200px">
        <li><h3>{{this.name}}</h3></li></a>
        <li><p>{{this.description}}</p></li>
        <li><p>{{this.tagline}}</p></li>
    {{/each}}

    </ul>
</div>

